<!DOCTYPE html>
<html>
<head>
    <title>Header with Description</title>
    <style>
        .div
        {
          background-color:orange;
          
        }
    </style>
</head>
<body>
    <div class='div'> <h1 align="center">Freedom in world classification<h1> 
        <div>
            <h6 align="center">Insights To The State Of Political and Civil Liberties Around World</h6>

        </div>
    </div>
    <p>
        Based on the Freedom in the World dataset, my report utilized Python to conduct exploratory data analysis (EDA) and
applied machine learning techniques such as KNN, SVM, and Naive Bayes to predict whether a country is classified as
Free (F) Partly Free (PF), or Not Free (NF). A Flask app was developed to allow the company to make predictions on a
web page. The project demonstrates a deep understanding of machine learning techniques and their application to
real-world problems, while also highlighting the potential for technology to be used to promote social justice and
human rights. Overall, the app has the potential to provide valuable insights into the state of political and civil liberties
    </p>

    <a href="/predict">Go to Click Predict</a>

</body>
</html>